{
  "log-opts": {
    "max-size": "5m",
    "max-file":"3"
  },
{{- if and .cri.docker.data_root (ne .cri.docker.data_root "") }}
  "data-root": "{{ .cri.docker.data_root }}",
{{- end }}
{{- if and .cri.registry.mirrors (ne .cri.registry.mirrors "") }}
  "registry-mirrors": {{ .cri.registry.mirrors | toJson }},
{{- end }}
 {{- if and .cri.registry.insecure_registries (ne .cri.registry.insecure_registries "") }}
  "insecure-registries": {{ .cri.registry.insecure_registries | toJson }},
{{- end }}
 {{- if and .cri.docker.bridge_ip (ne .cri.docker.bridge_ip "") }}
  "bip": "{{ .cri.docker.bridge_ip }}",
{{- end }}
  "exec-opts": ["native.cgroupdriver={{ .cri.cgroup_driver }}"]
}
