{
  "log-opts": {
    "max-size": "5m",
    "max-file":"3"
  },
  {% if (cri.docker.data_root|defined) %}
  "data-root": "{{ cri.docker.data_root }}",
  {% endif %}
  {% if (cri.registry.mirrors|defined) %}
  "registry-mirrors": {{ cri.registry.mirrors|to_json|safe }},
  {% endif %}
  {% if (cri.registry.insecure_registries|defined) %}
  "insecure-registries": {{ cri.registry.insecure_registries|to_json|safe }},
  {% endif %}
  {% if (cri.docker.bridge_ip|defined) %}
  "bip": "{{ cri.docker.bridge_ip }}",
  {% endif %}
  "exec-opts": ["native.cgroupdriver={{ cri.cgroup_driver }}"]
}
