- name: Image | Ensure container images is available
  image:
    platform: >
      {{- $platform := list }}
      {{- range .download.arch }}
        {{- $platform = append $platform (printf "linux/%s" .) }}
      {{- end }}
      {{- $platform | toJson }}
    manifests: "{{ .image_manifests | toJson }}"
    src: "local://{{ .binary_dir }}/images/"
    dest: "local://{{ .artifact_file_dir }}/kubekey/kubekey/images/"
  when:
    - .download.images.manifests | default .image_manifests | empty | not
