[Unit]
Description=docker-registry
After=docker.service systemd-networkd.service systemd-resolved.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/docker-compose -p registry -f /opt/docker-registry/{{ .image_registry.docker_registry_version }}/docker-compose.yml {{ if and (.image_registry.ha_vip | empty | not) (.groups.image_registry | len | lt 1) }}-f /opt/keepalived/{{ .image_registry.keepalived_version }}/docker-compose.yaml{{ end }} up
ExecStop=/usr/local/bin/docker-compose -p registry down
Restart=on-failure
[Install]
WantedBy=multi-user.target
