---
- name: Generate root ca file
  gen_cert:
    cn: root
    date: 87600h
    policy: "{{ .artifact.gen_cert_policy }}"
    out_key: >-
      {{ .binary_dir }}/pki/root.key
    out_cert: >-
      {{ .binary_dir }}/pki/root.crt

- name: Generate etcd cert file
  gen_cert:
    root_key: >-
      {{ .binary_dir }}/pki/root.key
    root_cert: >-
      {{ .binary_dir }}/pki/root.crt
    cn: etcd
    sans: >-
      {{- $ips := list -}}
      {{- range .groups.etcd | default list -}}
        {{- $internalIPv4 := index $.hostvars . "internal_ipv4" | default "" -}}
        {{- $internalIPv6 := index $.hostvars . "internal_ipv6" | default "" -}}
        {{- if $internalIPv4 | empty | not -}}
          {{- $ips = append $ips $internalIPv4 -}}
        {{- end -}}
        {{- if $internalIPv6 | empty | not -}}
          {{- $ips = append $ips $internalIPv6 -}}
        {{- end -}}
      {{- end -}}
      {{ $ips | toJson }}
    date: 87600h
    policy: "{{ .artifact.gen_cert_policy }}"
    out_key: >-
      {{ .binary_dir }}/pki/etcd.key
    out_cert: >-
      {{ .binary_dir }}/pki/etcd.crt
  when: .groups.etcd | default list | empty | not

- name: Generate registry image cert file
  gen_cert:
    root_key: >-
      {{ .binary_dir }}/pki/root.key
    root_cert: >-
      {{ .binary_dir }}/pki/root.crt
    cn: image_registry
    sans: >-
      {{- $ips := list -}}
      {{- if .image_registry.ha_vip | empty | not -}}
        {{- $ips = append $ips .image_registry.ha_vip -}}
      {{- end -}}
      {{- range .groups.image_registry | default list -}}
        {{- $internalIPv4 := index $.hostvars . "internal_ipv4" | default "" -}}
        {{- $internalIPv6 := index $.hostvars . "internal_ipv6" | default "" -}}
        {{- if $internalIPv4 | empty | not -}}
          {{- $ips = append $ips $internalIPv4 -}}
        {{- end -}}
        {{- if $internalIPv6 | empty | not -}}
          {{- $ips = append $ips $internalIPv6 -}}
        {{- end -}}
      {{- end -}}
      {{ $ips | toJson }}
    date: 87600h
    policy: "{{ .artifact.gen_cert_policy }}"
    out_key: >-
      {{ .binary_dir }}/pki/image_registry.key
    out_cert: >-
      {{ .binary_dir }}/pki/image_registry.crt
  when: .groups.image_registry | default list | empty | not

- name: Chown pki to sudo
  block:
    - name: Chown pki to sudo
      ignore_errors: true
      command: |
        chown -R ${SUDO_UID}:${SUDO_GID} {{ .binary_dir }}/pki
