---
- name: Execute post install scripts
  hosts:
    - all
  tasks:
    - name: Copy post install scripts to remote
      ignore_errors: true
      copy:
        src: >-
          {{ .scripts_dir }}/post_install_{{ .inventory_hostname }}.sh
        dest: >-
          /etc/kubekey/scripts/post_install_{{ .inventory_hostname }}.sh
        mode: 0755
      register: execute_result

    - name: Execute post install scripts
      when: .execute_result.error | empty
      command: |
        for file in /etc/kubekey/scripts/post_install_*.sh; do
          if [ -f $file ]; then
            # execute file
            chmod +x $file
            $file
          fi
        done
