---
- hosts:
    - all
  gather_facts: true
  vars:
    architectures:
      amd64:
        - amd64
        - x86_64
      arm64:
        - arm64
        - aarch64
  tasks:
    - name: Get os arch for each node
      set_fact:
        binary_type: >-
          {{- if .architectures.amd64 | has .os.architecture -}}
          amd64
          {{- else if .architectures.arm64 | has .os.architecture -}}
          arm64
          {{- end -}}

- hosts:
    - all
  vars:
    # work_dir: default is <current_dir>/kubekey
    binary_dir: >-
      {{ .work_dir }}/kubekey
    scripts_dir: >-
      {{ .binary_dir }}/scripts
    tmp_dir: /tmp/kubekey


- name: Execute pre install scripts
  hosts:
    - all
  tasks:
    - name: Copy pre install scripts to remote
      ignore_errors: true
      copy:
        src: >-
          {{ .work_dir }}/scripts/pre_install_{{ .inventory_hostname }}.sh
        dest: >-
          /etc/kubekey/scripts/pre_install_{{ .inventory_hostname }}.sh
        mode: 0755
      register: execute_result

    - name: Execute pre install scripts
      when: .execute_result.error | empty
      command: |
        for file in /etc/kubekey/scripts/pre_install_*.sh; do
          if [ -f $file ]; then
            # execute file
            chmod +x $file
            $file
          fi
        done
