---
- hosts:
    - all
  vars:
    # work_dir: default is <current_dir>/kubekey
    binary_dir: >-
      {{ .work_dir }}/kubekey
    scripts_dir: >-
      {{ .binary_dir }}/scripts
    tmp_dir: /tmp/kubekey


- name: Execute pre install scripts
  hosts:
    - all
  tasks:
    - name: Copy pre install scripts to remote
      ignore_errors: true
      copy:
        src: >-
          {{ .work_dir }}/scripts/pre_install_{{ .inventory_hostname }}.sh
        dest: >-
          /etc/kubekey/scripts/pre_install_{{ .inventory_hostname }}.sh
        mode: 0755
      register: execute_result

    - name: Execute pre install scripts
      when: .execute_result.stderr | eq ""
      command: |
        for file in /etc/kubekey/scripts/pre_install_*.sh; do
          if [ -f $file ]; then
            # execute file
            chmod +x $file
            $file
          fi
        done
