---
- include_tasks: init_repository.yaml

- include_tasks: init_ntpserver.yaml

- name: Reset tmp dir
  command: |
    if [ -d {{ .tmp_dir }} ]; then
      rm -rf {{ .tmp_dir }}
    fi
    mkdir -m 777 -p {{ .tmp_dir }}

- name: Set hostname
  command: |
    hostnamectl set-hostname {{ .inventory_name }} \
      && sed -i '/^127.0.1.1/s/.*/127.0.1.1 {{ .inventory_name }}/g' /etc/hosts
  when: 
    - .set_hostname
    - .inventory_name | ne "localhost"

- name: Sync init os to remote
  template:
    src: init-os.sh
    dest: /etc/kubekey/scripts/init-os.sh
    mode: 0755

- name: Execute init os script
  command: |
    /etc/kubekey/scripts/init-os.sh
