---
- import_playbook: hook/pre_install.yaml

- hosts:
   - localhost
  roles:
   - init/init-artifact

- hosts:
    - image_registry
  gather_facts: true
  roles:
    - install/image-registry

- import_playbook: hook/post_install.yaml
