---
- hosts:
    - all
  roles:
    - role: native/root
      tags: ["package"]
# Load default variables and perform prechecks on all hosts
- hosts:
    - all
  gather_facts: true
  roles:
    - defaults

# Download all required software and generate certificates on the localhost
- hosts:
    - localhost
  roles:
    - role: download
      tags: ["package"]
    - role: download/copy
      tags: ["package"]

