---
- hosts:
    - all
  roles:
    - native/root
# Load default variables and perform prechecks on all hosts
- hosts:
    - localhost
  tags: ["always"]
  roles:
    - defaults

- hosts:
    - localhost
  tasks:
    - name: PullImage | Download container images
      tags: ["pull","image_registry"]
      image:
        platform: >
          {{- $platform := list }}
          {{- range .download.arch }}
            {{- $platform = append $platform (printf "linux/%s" .) }}
          {{- end }}
          {{- $platform | toJson }}
        auths: "{{ .cri.registry.auths | toJson }}"
        manifests: "{{ .image_manifests | toJson }}"
        src: "oci://{{ .module.image.reference.registry }}/{{ .module.image.reference.repository }}:{{ .module.image.reference.reference }}"
        dest: "local://{{ .binary_dir }}/images/"
      when:
        - .download.images.manifests | default .image_manifests | empty | not
        - .download.images.fetch
    - name: PushImage | Push images to registry
      tags: ["push","image_registry"]
      block:
        - name: PushImage | Ensure Harbor project exists for each image
          when: .image_registry.type | eq "harbor"
          command: |
            # Traverse first-level subdirectories in images_dir, skipping 'blobs'
            registry_url="{{ .image_registry.auth.registry }}"
            host_part=$(echo "$registry_url" | cut -d'/' -f1)
            base_project=$(echo "$registry_url" | cut -s -d'/' -f2-)
            if [ -n "$base_project" ]; then
              resp=$(curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X GET "https://${host_part}/api/v2.0/projects/${base_project}")
              if echo "$resp" | grep -q '"code":"NOT_FOUND"'; then
                curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X POST \
                  -H "Content-Type: application/json" \
                  "https://${host_part}/api/v2.0/projects" \
                  -d "{ \"project_name\": \"${base_project}\", \"public\": true}"
              fi
            else
              for registry_dir in {{ .binary_dir }}/images/*; do
                if [ ! -d "$registry_dir" ] || [ "$(basename "$registry_dir")" = "blobs" ]; then
                  continue
                fi
  
                # Traverse second-level subdirectories in each registry_dir
                for project_dir in "$registry_dir"/*; do
                  if [ ! -d "$project_dir" ]; then
                    continue
                  fi
  
                  project=$(basename "$project_dir")
  
                  # Check if the Harbor project exists; create it if it does not
                  resp=$(curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X GET "https://${host_part}/api/v2.0/projects/${project}")
                  if echo "$resp" | grep -q '"code":"NOT_FOUND"'; then
                    curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X POST \
                      -H "Content-Type: application/json" \
                      "https://${host_part}/api/v2.0/projects" \
                      -d "{ \"project_name\": \"${project}\", \"public\": true}"
                  fi
                done
              done
            fi
        - name: PushImage | Push images package to image registry
          image:
            platform: >
              {{- $platform := list }}
              {{- range .download.arch }}
                {{- $platform = append $platform (printf "linux/%s" .) }}
              {{- end }}
              {{- $platform | toJson }}
            auths:
              - registry: "{{ .image_registry.auth.registry }}"
                username: "{{ .image_registry.auth.username }}"
                password: "{{ .image_registry.auth.password }}"
                skip_tls_verify: true
            manifests: "{{ .image_manifests | toJson }}"
            src: "local://{{ .binary_dir }}/images/"
            dest: >-
              {{- if and (eq .module.image.reference.registry "registry.k8s.io") (.module.image.reference.repository | contains "/" | not) -}}
              oci://{{ .image_registry.auth.registry }}/kubernetes/{{ .module.image.reference.repository }}:{{ .module.image.src.reference.reference }}
              {{- else -}}
              oci://{{ .image_registry.auth.registry }}/{{ .module.image.reference.repository }}:{{ .module.image.reference.reference }}
              {{- end -}}
