---
- import_playbook: hook/default.yaml
- import_playbook: hook/pre_install.yaml

# load defaults vars
- hosts:
    - all
  vars_files:
    - vars/common.yaml
    - vars/kubernetes.yaml

# precheck
- hosts:
    - localhost
  roles:
    - role: precheck/artifact_check
      when: .artifact.artifact_file | empty | not
- hosts:
    - k8s_cluster
    - etcd
    - image_registry
    - nfs
  gather_facts: true
  roles:
    - precheck/env_check

- hosts:
    - localhost
  gather_facts: true
  roles:
    - init/init-artifact
    - init/init-cert

# init os
- hosts:
    - etcd
    - k8s_cluster
    - image_registry
    - nfs
  roles:
    - init/init-os

# install
- hosts:
    - nfs
  gather_facts: true
  roles:
    - install/nfs

- hosts:
    - etcd
  gather_facts: true
  roles:
    - install/etcd

- hosts:
    - image_registry
  gather_facts: true
  roles:
    - install/image-registry

- hosts:
    - k8s_cluster
  gather_facts: true
  roles:
    - install/cri
    - kubernetes/pre-kubernetes
    - kubernetes/init-kubernetes
    - kubernetes/join-kubernetes
    - role: kubernetes/certs
      when: 
        - .kubernetes.certs.renew
        - .groups.kube_control_plane | default list | has .inventory_hostname
  post_tasks:
    - name: Add custom label to cluster
      command: |
        {{- range $k, $v := .kubernetes.custom_labels }}
        /usr/local/bin/kubectl label --overwrite node {{ $.hostname }} {{ $k }}={{ $v }}
        {{- end }}
      when: .kubernetes.custom_label | empty | not

- hosts:
    - kube_control_plane|random
  roles:
    - install/cni
    - install/storageclass
    - role: install/security
      when: .security_enhancement

- import_playbook: hook/post_install.yaml