---
# Load default variables and perform prechecks on all hosts
- hosts:
    - all
  gather_facts: true
  roles:
    - defaults

- hosts:
   - image_registry
  roles:
    - role: uninstall/image-registry