---
# load defaults vars
- hosts:
    - all
  vars_files:
    - vars/common.yaml
    - vars/kubernetes.yaml

- import_playbook: hook/pre_install.yaml

- hosts:
   - image_registry
  roles:
    - role: uninstall/image-registry

- import_playbook: hook/post_install.yaml