---
- name: Create work_dir
  tags: ["always"]
  command: |
    if [ ! -d "{{ work_dir }}" ]; then
      mkdir -p {{ work_dir }}
    fi

- name: Extract artifact to work_dir
  tags: ["always"]
  command: |
    if [ ! -f "{{ artifact_file }}" ]; then
      tar -zxvf {{ artifact_file }} -C {{ work_dir }}
    fi
  when: artifact_file | defined

- name: Download binaries
  block:
    # the binaries which download by curl
    - include_tasks: download_by_curl.yaml
    # the binaries which download by helm
    - include_tasks: download_by_helm.yaml

- include_tasks: pki.yaml
  tags: ["certs"]

- name: Chown work_dir to sudo
  tags: ["always"]
  command: |
    chown -R ${SUDO_UID}:${SUDO_GID} {{ work_dir }}
