---
- name: Generate coredns config
  template:
    src: dns/coredns.deployment
    dest: /etc/kubernetes/coredns.yaml

- name: Apply coredns config
  command: "kubectl apply -f /etc/kubernetes/coredns.yaml"

- name: Get cluster api
  command: |
    /usr/local/bin/kubectl get svc -n kube-system coredns -o jsonpath='{.spec.clusterIP}'
  register: core_dns_ip

- name: Generate nodelocaldns deployment
  template:
    src: dns/coredns.deployment
    dest: /etc/kubernetes/nodelocaldns.yaml

- name: Apply coredns deployment
  command: "kubectl apply -f /etc/kubernetes/nodelocaldns.yaml"
