- name: LocalPV | Copy the LocalPV provisioner Helm chart to the remote host
  copy:
    src: >-
      {{ .binary_dir }}/storageclass/local/localpv-provisioner-{{ .storage_class.localpv_provisioner_version }}.tgz
    dest: >-
      /etc/kubernetes/storageclass/localpv-provisioner-{{ .storage_class.localpv_provisioner_version }}.tgz

- name: LocalPV | Create the LocalPV custom Helm values file
  when: .storage_class.local.values | empty | not
  copy:
    content: |
      {{ .storage_class.local.values }}
    dest: /etc/kubernetes/storageclass/localpv-custom-values.yaml

- name: LocalPV | Generate the default Helm values file for LocalPV
  template:
    src: values.yaml
    dest: /etc/kubernetes/storageclass/localpv-default-values.yaml

- name: LocalPV | Deploy the LocalPV provisioner with Helm
  command: |
    helm upgrade --install localpv-provisioner /etc/kubernetes/storageclass/local/localpv-provisioner-{{ .storage_class.localpv_provisioner_version }}.tgz --namespace kube-system \
      -f /etc/kubernetes/storageclass/localpv-default-values.yaml {{ if .storage_class.local.values | empty | not }}-f /etc/kubernetes/storageclass/localpv-custom-values.yaml{{ end }}
