---
apiVersion: v1
kind: Pod
metadata:
  name: haproxy
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: kube-haproxy
  annotations:
    cfg-checksum: "{{ .haproxy_cfg_md5.stdout }}"
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  nodeSelector:
    kubernetes.io/os: linux
  priorityClassName: system-node-critical
  containers:
    - name: haproxy
      image: {{ .kubernetes.control_plane_endpoint.haproxy.image.registry }}/{{ .kubernetes.control_plane_endpoint.haproxy.image.repository }}:{{ .kubernetes.control_plane_endpoint.haproxy.image.tag }}
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: 25m
          memory: 32M
      livenessProbe:
        httpGet:
          path: /healthz
          port: {{ .kubernetes.control_plane_endpoint.haproxy.health_port }}
      readinessProbe:
        httpGet:
          path: /healthz
          port: {{ .kubernetes.control_plane_endpoint.haproxy.health_port }}
      volumeMounts:
        - mountPath: /usr/local/etc/haproxy/
          name: etc-haproxy
          readOnly: true
  volumes:
    - name: etc-haproxy
      hostPath:
        path: /etc/kubekey/haproxy
