---
- name: Artifact | Copy required binaries and images
  when: .artifact_file_dir | empty | not
  block:
    # Download core binaries
    - include_tasks: binary.yaml
    # Download Helm and CNI binaries
    - include_tasks: helm.yaml
      tags: ["kubernetes"]
    # Download remote images to the local images directory
    - include_tasks: images.yaml
      tags: ["kubernetes", "image_registry"]
    - include_tasks: iso.yaml

