---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: inventories.kubekey.kubesphere.io
spec:
  group: kubekey.kubesphere.io
  names:
    kind: Inventory
    listKind: InventoryList
    plural: inventories
    singular: inventory
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              groups:
                additionalProperties:
                  properties:
                    groups:
                      items:
                        type: string
                      type: array
                    hosts:
                      items:
                        type: string
                      type: array
                    vars:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                  type: object
                description: Groups nodes. a group contains repeated nodes
                type: object
              hosts:
                additionalProperties:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                description: Hosts is all nodes
                type: object
              vars:
                description: 'Vars for all host. the priority for vars is: host vars
                  > group vars > inventory vars'
                type: object
                x-kubernetes-preserve-unknown-fields: true
            type: object
        type: object
    served: true
    storage: true
