---
- name: Stop docker service
  ignore_errors: true
  command: |
    systemctl stop docker.service
    systemctl disable docker.service
    rm -rf /etc/systemd/system/docker.service*
    systemctl daemon-reload    
    systemctl reset-failed docker.service

- name: Uninstall containerd
  block:
    - name: Uninstall containerd service
      ignore_errors: true
      command: |
        systemctl stop containerd.service
        systemctl disable containerd.service
        rm -rf /etc/systemd/system/containerd.service*
        systemctl daemon-reload
        systemctl reset-failed containerd.service
    
    - name: Delete containerd residue files
      command: |
        rm -rf {{ .cri.containerd.data_root }}
        rm -rf /etc/containerd
        rm -rf /usr/local/bin/containerd*
        rm -f /usr/local/bin/runc
        rm -f /usr/local/bin/ctr  

- name: Delete docker residue files
  command: |
    rm -rf {{ .cri.docker.data_root }}
    rm -rf /etc/docker
    rm -rf /usr/local/bin/docker*

- name: Uninstall docker interface
  ignore_errors: true
  command: ip link delete docker0