---

- name: ImageRegistry | Ensure Harbor project exists for each image
  when: .image_registry.type | eq "harbor"
  command: |
    # Traverse first-level subdirectories in images_dir, skipping 'blobs'
    registry_url="{{ .image_registry.auth.registry }}"
    host_part=$(echo "$registry_url" | cut -d'/' -f1)
    base_project=$(echo "$registry_url" | cut -s -d'/' -f2-)
    if [ -n "$base_project" ]; then
      resp=$(curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X GET "https://${host_part}/api/v2.0/projects/${base_project}")
      if echo "$resp" | grep -q '"code":"NOT_FOUND"'; then
        curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X POST \
          -H "Content-Type: application/json" \
          "https://${host_part}/api/v2.0/projects" \
          -d "{ \"project_name\": \"${base_project}\", \"public\": true}"
      fi
    else
      for registry_dir in {{ .binary_dir }}/images/*; do
        if [ ! -d "$registry_dir" ] || [ "$(basename "$registry_dir")" = "blobs" ]; then
          continue
        fi

        # Traverse second-level subdirectories in each registry_dir
        for project_dir in "$registry_dir"/*; do
          if [ ! -d "$project_dir" ]; then
            continue
          fi

          project=$(basename "$project_dir")

          # Check if the Harbor project exists; create it if it does not
          resp=$(curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X GET "https://${host_part}/api/v2.0/projects/${project}")
          if echo "$resp" | grep -q '"code":"NOT_FOUND"'; then
            curl -u "{{ .image_registry.auth.username }}:{{ .image_registry.auth.password }}" -k -X POST \
              -H "Content-Type: application/json" \
              "https://${host_part}/api/v2.0/projects" \
              -d "{ \"project_name\": \"${project}\", \"public\": true}"
          fi
        done
      done
    fi

- name: ImageRegistry | Push images package to image registry
  run_once: true
  image:
    push:
      auths:
        - repo: "{{ .image_registry.auth.registry }}"
          username: "{{ .image_registry.auth.username }}"
          password: "{{ .image_registry.auth.password }}"
          insecure: true
      images_dir: >-
        {{ .binary_dir }}/images/
      dest: >-
        {{ .image_registry.auth.registry }}/{{ .module.image.src.reference.repository }}:{{ .module.image.src.reference.reference }}
