---
- import_playbook: hook/pre_install.yaml

- name: Environment PreCheck
  gather_facts: true
  hosts:
    - k8s_cluster
    - etcd
    - image_registry
    - nfs
  tags: [ "always" ]
  roles:
    - precheck/env_check

- name: Initialize OS
  gather_facts: true
  hosts:
    - k8s_cluster
    - etcd
    - image_registry
  roles:
    - init/init-os

- name: Download Artifacts
  hosts:
    - localhost
  roles:
    - init/init-artifact

- name: Generate Certs
  hosts:
    - localhost
  roles:
    - init/init-cert