---
- name: Helm | Ensure the Calico binary is available
  loop: "{{ .download.cni.calico_version | default (list .cni.calico_version) | toJson }}"
  when: 
    - .download.cni.calico_version | default (list .cni.calico_version) | empty | not
    - (.download.cni.type | default .cni.type) | has "calico"
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/github.com/projectcalico/calico/releases/download/{{ .item }}/tigera-operator-{{ .item }}.tgz
    {{- else -}}
    url=https://github.com/projectcalico/calico/releases/download/{{ .item }}/tigera-operator-{{ .item }}.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/cni/calico/tigera-operator-{{ .item }}.tgz
    if [ ! -f $target_path ]; then
      mkdir -p $target_path
      # Download the Calico binary if it does not exist
      curl -Lo $target_path $url
    fi

- name: Helm | Ensure the Cilium binary is available
  loop: "{{ .download.cni.cilium_version | default (list .cni.cilium_version) | toJson }}"
  when: 
    - .download.cni.cilium_version | default (list .cni.cilium_version) | empty | not
    - (.download.cni.type | default .cni.type) | eq "cilium"
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/helm.cilium.io/cilium-{{ .item }}.tgz
    {{- else -}}
    url=https://helm.cilium.io/cilium-{{ .item }}.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/cni/cilium/cilium-{{ .item }}.tgz
    if [ ! -f $target_path ]; then
      mkdir -p $target_path
      # Download the Cilium binary if it does not exist
      curl -Lo $target_path $url
    fi

- name: Helm | Ensure the Flannel binary is available
  loop: "{{ .download.cni.flannel_version | default (list .cni.flannel_version) | toJson }}"
  when: 
    - .download.cni.flannel_version | default (list .cni.flannel_version) | empty | not
    - (.download.cni.type | default .cni.type) | eq "flannel"
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/github.com/flannel-io/flannel/releases/download/{{ .item }}/flannel.tgz
    {{- else -}}
    url=https://github.com/flannel-io/flannel/releases/download/{{ .item }}/flannel.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/cni/flannel/flannel-{{ .item }}.tgz
    if [ ! -f $target_path ]; then
      mkdir -p $target_path
      # Download the Flannel binary if it does not exist
      curl -Lo $target_path $url
    fi

- name: Helm | Ensure the Kube-OVN binary is available
  loop: "{{ .download.cni.kubeovn_version | default (list .cni.kubeovn_version) | toJson }}"
  when: 
    - .download.cni.kubeovn_version | default (list .cni.kubeovn_version) | empty | not
    - (.download.cni.type | default .cni.type) | eq "kubeovn"
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/kubeovn.github.io/kube-ovn/kube-ovn-{{ .item }}.tgz
    {{- else -}}
    url=https://kubeovn.github.io/kube-ovn/kube-ovn-{{ .item }}.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/cni/kubeovn/kube-ovn-{{ .item }}.tgz
    if [ ! -f $target_path ]; then
      mkdir -p $target_path
      # Download the Kube-OVN binary if it does not exist
      curl -Lo $target_path $url
    fi

- name: Helm | Ensure the Hybridnet binary is available
  loop: "{{ .download.cni.hybridnet_version | default (list .cni.hybridnet_version) | toJson }}"
  when: 
    - .download.cni.hybridnet_version | default (list .cni.hybridnet_version) | empty | not
    - (.download.cni.type | default .cni.type) | eq "hybridnet"
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/github.com/alibaba/hybridnet/releases/download/helm-chart-{{ .item }}/hybridnet-{{ .item }}.tgz
    {{- else -}}
    url=https://github.com/alibaba/hybridnet/releases/download/helm-chart-{{ .item }}/hybridnet-{{ .item }}.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/cni/hybridnet/hybridnet-{{ .item }}.tgz
    if [ ! -f $artifact_path/$artifact_name ]; then
      mkdir -p $target_path
      # Download the Hybridnet binary if it does not exist
      curl -Lo $target_path $url
    fi

- name: Helm | Ensure the localpv Provisioner binary is available
  loop: "{{ .download.storage_class.localpv_provisioner_version | default (list .storage_class.localpv_provisioner_version) | toJson }}"
  when: 
    - .download.storage_class.localpv_provisioner_version | default (list .storage_class.localpv_provisioner_version) | empty | not
    - .download.storage_class.local.enabled | default true
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/openebs.github.io/dynamic-localpv-provisioner/localpv-provisioner-{{ .item }}.tgz
    {{- else -}}
    url=https://openebs.github.io/dynamic-localpv-provisioner/localpv-provisioner-{{ .item }}.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/storageclass/local/localpv-provisioner-{{ .item }}.tgz
    if [ ! -f $target_path ]; then
      mkdir -p $target_path
      # Download the localpv Provisioner binary if it does not exist
      curl -Lo $target_path $url
    fi

- name: Helm | Ensure the NFS Provisioner binary is available
  loop: "{{ .download.storage_class.nfs_provisioner_version | default (list .storage_class.nfs_provisioner_version) | toJson }}"
  when: 
    - .download.storage_class.nfs_provisioner_version | default (list .storage_class.nfs_provisioner_version) | empty | not
    - .download.storage_class.nfs.enabled | default false
  command: |
    {{- if .download.zone | eq "cn" -}}
    url=https://{{ .download.cn_host }}/github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/download/nfs-subdir-external-provisioner-4.0.18/nfs-subdir-external-provisioner-{{ .item }}.tgz
    {{- else -}}
    url=https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/download/nfs-subdir-external-provisioner-4.0.18/nfs-subdir-external-provisioner-{{ .item }}.tgz
    {{- end -}}
    target_path={{ .binary_dir }}/storageclass/nfs/nfs-subdir-external-provisioner-{{ .item }}.tgz
    if [ ! -f $target_path ]; then
      mkdir -p $target_path
      # Download the NFS Provisioner binary if it does not exist
      curl -Lo $target_path $url
    fi
