- name: Image | Download container images
  image:
    pull:
      platform: "{{ .download.arch | toJson }}"
      auths: "{{ .cri.registry.auths | toJson }}"
      images_dir: >-
        {{ .binary_dir }}/images/
      manifests: "{{ .image_manifests | toJson }}"
  when:
    - .image_manifests | default list | empty | not
    - .download.download_image