- name: Image | Download container images
  image:
    src: "oci://{{ .module.image.reference.registry }}/{{ .module.image.reference.repository }}:{{ .module.image.reference.reference }}"
    dest: "local://{{ .binary_dir }}/images/"
    auths: "{{ .cri.registry.auths | toJson }}"
    manifests: "{{ .image_manifests | toJson }}"
  when:
    - .image_manifests | default list | empty | not
    - .download.download_image