- name: Image | Download container images
  when:
    - .download.images.manifests | default .image_manifests | empty | not
    - .download.images.fetch
  image:
    platform: >
      {{- $platform := list }}
      {{- range .download.arch }}
        {{- $platform = append $platform (printf "linux/%s" .) }}
      {{- end }}
      {{- $platform | toJson }}
    auths: "{{ .cri.registry.auths | toJson }}"
    manifests: "{{ .image_manifests | toJson }}"
    src: "oci://{{ .module.image.reference.registry }}/{{ .module.image.reference.repository }}:{{ .module.image.reference.reference }}"
    dest: "local://{{ .binary_dir }}/images/"
