---
- name: ISO | Download ISO files
  loop: "{{ .download.iso_url.urls | toJson }}"
  when: 
    - .download.iso_url.urls | empty | not
  command: |
    for arch in {{ .download.arch | join " " }}; do
      {{- if .download.zone | eq "cn" -}}
      url=https://{{ .download.cn_host }}/github.com/kubesphere/kubekey/releases/download/iso-latest/{{ .item }}-$arch.iso
      {{- else }}
      url=https://github.com/kubesphere/kubekey/releases/download/iso-latest/{{ .item }}-$arch.iso
      {{- end }}
      iso_path={{ .binary_dir }}/repository/{{ .item }}-$arch.iso
      if [ ! -f $iso_path ];then
        mkdir -p $iso_path
        curl -Lo $iso_path $url
      fi
    done