[Unit]
Description=Timer to backup ETCD
[Timer]
OnCalendar={{ .etcd.backup.on_calendar }}
Unit=backup-etcd.service
[Install]
WantedBy=multi-user.target
